@font-face {
    font-family: 'main_font';
    src: url('../font/tt_norms_pro_serif/TT\ Norms\ Pro\ Serif\ Trial\ ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Lights.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #FFFDCB;
    font-family: 'Pretendard-Light';
    
}

#works_container {
    background-color: #95C2FB;
}
.body > section{
    display: flex;
    height: 1080px;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: sticky;
}
header > ul{
    background-color: white;
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: center;
    border-radius: 10%;
}

#works_container{
    display: flex;
}
#works_container > area{
    position: sticky;
    display: flex;

}
.area > figure{
    display: flex;
    gap: 16px;
}
.component{
    display: flex;
    gap: 5px;
    align-items: center;
}
.about_me_img{
    width: 163px;
    height: 150px;
    display: flex;
}